body {
    background-color: #e7e7e7;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color:grey;
    text-align: center;
}

h2 {
    color:brown;
    
}

img {
    width:300px;
}
